
// Main Theme
$main-bg-color: #282828; // Dark grey
$main-color: #00FF00; // Main Color (Green)
$main-color-transparent: #00FF0099; // Main Color (Green) with transparency
$main-contrast-color: #FFFFFF; // White

// General
$success-color: #3772FF;  // Blue Crayola
$danger-color: #DF2935;   // Rose Madder
