@import 'src/style/theme_colors';

body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 5vw;
  background-color: $main-bg-color;
  color: $main-contrast-color;
}